In [8]:
import pandas as pd
import numpy as np
import os
home=os.path.expanduser("~")

import sys 
sys.path.append(os.path.join(os.path.expanduser("~"),'station2grid'))
from tools import CustomKNN

# input csv

In [9]:
epaStationInfo=pd.read_csv(os.path.join(home,'station2grid','datasets','info','epa-station-info.csv'))
epaStationInfo.head(2)

,SiteName,SiteEngName,AreaName,County,Township,SiteAddress,lon,lat,SiteType,lat_round,lon_round,row,col
0,陽明,Yangming,北部空品區,臺北市,北投區,臺北市北投區竹子湖路111號,121.529583,25.182722,公園測站,25.18,121.53,16,153
1,萬里,Wanli,北部空品區,新北市,萬里區,新北市萬里區瑪鋉路221號,121.689881,25.179667,一般測站,25.18,121.69,16,169

In [10]:
year=2015
csv_path=os.path.join(home,'station2grid','datasets','csv','epa','epa%s.csv'%(year))
oneYear=pd.read_csv(csv_path)
oneYear=pd.merge(left=oneYear,
                 right=epaStationInfo[['SiteName','lat','lon']],
                 left_on='station',
                 right_on='SiteName',
                 how='left')
oneYear=oneYear[['dt','lat','lon','station','feature','value']]
oneYear.head()

                    dt        lat         lon station   feature  value
0  2015-01-01 00:00:00  24.900142  121.038653      湖口  AMB_TEMP   16.0
1  2015-01-01 01:00:00  24.900142  121.038653      湖口  AMB_TEMP   15.0
2  2015-01-01 02:00:00  24.900142  121.038653      湖口  AMB_TEMP   15.0
3  2015-01-01 03:00:00  24.900142  121.038653      湖口  AMB_TEMP   14.0
4  2015-01-01 04:00:00  24.900142  121.038653      湖口  AMB_TEMP   14.0

In [11]:
oneYear.feature.unique()

array(['AMB_TEMP', 'PM10', 'PM2.5', 'RH'], dtype=object)

In [12]:
dts=oneYear.dt.unique()
features=oneYear.feature.unique()

In [13]:
dt=dts[48]
feature=features[1]
oneDtFea=oneYear[(oneYear.dt==dt)&(oneYear.feature==feature)]
oneDtFea

                       dt      lat         lon station feature  value
3288  2015-01-03 00:00:00  25.1645  121.449239      淡水    PM10   26.0
6668  2015-01-03 00:00:00  25.0632  121.513311      大同    PM10   50.0

In [ ]:
oneDtFea.value.values.shape

In [ ]:
customKNN=CustomKNN()
x_train=oneDtFea[['lat','lon']].values
y_train=oneDtFea.value.values
k=1
weightKNN='distance'
x_test=epaStationInfo[['lat','lon']].values
y_test=customKNN.get_knn(k,weightKNN,x_train,y_train,x_test)
y_test.shape

# script

In [19]:
customKNN=CustomKNN()
epaStationInfo=pd.read_csv(os.path.join(home,'station2grid','datasets','info','epa-station-info.csv'))

def get_oneYear(year):
    csv_path=os.path.join(home,'station2grid','datasets','csv','epa','epa%s.csv'%(year))
    oneYear=pd.read_csv(csv_path)
    oneYear=pd.merge(left=oneYear,
                     right=epaStationInfo[['SiteName','lat','lon']],
                     left_on='station',
                     right_on='SiteName',
                     how='left')
    oneYear=oneYear[['dt','lat','lon','station','feature','value']]
    return oneYear

def get_oneDtArr(oneDt,features):
    oneDtArr=[]
    for feature in features:
        oneDtFea=oneDt[oneDt.feature==feature]
        x_train=oneDtFea[['lat','lon']].values
        y_train=oneDtFea.value.values
        k,weightKNN=1,'distance'
        x_test=epaStationInfo[['lat','lon']].values
        y_test=customKNN.get_knn(k,weightKNN,x_train,y_train,x_test)
        y_test=y_test.reshape(1,-1,1)
        oneDtArr.append(y_test)
    oneDtArr=np.concatenate(oneDtArr,axis=-1)    
    return oneDtArr

def get_allDtArr(oneYear):
    dts=oneYear.dt.unique()
    features=oneYear.feature.unique()

    allDtArr=[]
    for i,dt in enumerate(dts[:]):
        oneDt=oneYear[oneYear.dt==dt]
        if len(oneDt.feature.unique())<len(features): continue
        oneDtArr=get_oneDtArr(oneDt,features)
        allDtArr.append(oneDtArr)
    allDtArr=np.concatenate(allDtArr,axis=0)
    return allDtArr
    
oneYear=get_oneYear(2014)
allDtArr=get_allDtArr(oneYear)
allDtArr.shape

(48, 73, 4)